{% extends 'base.html' %}

{% block content %}
<div id="masthead">  
<div class="container">
<div class="row">
<div class="col-md-7">
	<h1> About us
	<p class="lead"> <br>Learn more about the web developers of Arctic World!</p>
	</h1>
</div>
<div class="col-md-5">
	<div class="well well-lg"> 
	<div class="row">
	<a class="img"><img src="/img/about.jpg" class="img-responsive"></a>
	<p>Image credit: VisitFinland.com </p>
	</div>
	</div>
</div>
</div> 
</div><!-- /cont -->


</div>

<div class="container">
<div class="row">

<div class="col-md-12"> 

<div class="panel">
	<div class="panel-body">
	<div class="row">    
	<div class="col-md-2 col-sm-3 text-center">
	<a class="story-img"><img src="/img/about_us.jpg" style="width:150px;height:150px" class="img-circle"></a>
	</div>
	<div class="col-md-10 col-sm-9">
	<h2><i>Who are the people behind Arctic World?</i></h2>
	<div class="row">
		<div class="col-xs-9">
		<p><br>We are two former researchers with PhDs in molecular biology and chemistry, respectively.<br>
		At the end of 2017, we started a formation at <a href="https://www.agilityfactory.fr/"
		style="color: #8181F7" target="blank">Agility Factory</a> to become Python developers in Paris, France.<br>
		This website is actually our student's project to learn web development using the Flask framework.<br>
		If you want to know more about the back-end structure of our website, don't hesitate to contact us!<br></p>
		<h4><i>Quentin and Zakaria.</i></h4>
		</div>
		<div class="col-xs-3"></div>
	</div>
	<br><br>
	</div>
	</div>
	</div>
</div>

	</div><!--/col-12-->
</div>
</div>

{% endblock %}