{% extends 'base.html' %}

{% block content %}
<div id="masthead">  
<div class="container">
<div class="row">
<div class="col-md-10">
	<h1> <font face="blanka" color="#424242">For Developers</font>
	<p class="lead"> <br>The Arctic World API enables developers to extract data from blog posts in JSON format.</p>
</div>
</div> 
</div><!-- /cont -->
</div>

<div class="container">
<div class="row">

<div class="col-md-8"> 

<div class="panel">
	<br>
	{% if not current_user.is_authenticated %}
	<a href="{{ url_for('login') }}" type="button" class="btn btn-lg btn-primary"> Login </a>
	<a href="{{ url_for('signup') }}" type="button" class="btn btn-lg btn-primary"> Sign up </a>
	{% endif %}
	{% if current_user.is_authenticated %}
	<a href="{{ url_for('logout') }}" type="button" class="btn btn-lg btn-primary"> Logout </a>
	{% endif %}
	<hr><br>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<br>
	<ul class=flashes>
	{% for message in messages %}
	<div class="alert alert-info"><strong>{{ message }}</strong></li>
	</div>
	{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
	<br><br>
	{% if current_user.is_authenticated %}
	
	<form name="addForm" id="addForm" method="POST" action="{{ url_for('detail_post') }}" novalidate>
	<div class="control-group">
	<div class="form-group floating-label-form-group controls">
		<label>Post id</label>
		<input type="text" class="form-control" placeholder="Post id" name="number" id="number" required data-validation-required-message="Please enter the id of the post.">
		<p class="help-block text-danger"></p>
	</div>
	</div>
	<br>
	<div id="success"></div>
	<div class="form-group">
	<button type="submit" class="btn btn-primary" id="sendMessageButton">Submit Search</button>
	<br><br>
	</div>
	</form>
	{% endif %}
</div>
</div>
</div>
</div>

{% endblock content %}