{% extends 'base.html' %}

{% block content %}
<div id="masthead">  
<div class="container">
<div class="row">
<div class="col-md-7">
	<h1> <font face="blanka" color="#424242">Arctic Data</font>
	</h1>
</div>
<div class="col-md-5">
	<div class="well well-lg"> 
	<div class="row">
	<a class="img"><img src="{{ url_for('static', filename='img/global_warming.jpg') }}" class="img-responsive"></a>
	<p>Image credit: telegraph.co.uk </p>
	</div>
	</div>
</div>
</div> 
</div><!-- /cont -->
</div>

<div class="container">
<div class="row">

<div class="col-md-12"> 

<div class="panel">
	<div class="panel-body">
	<!--/stories-->
	<div class="row">    
	<div class="col-md-3 col-sm-5 text-center">
	<a class="img"><img src="{{ url_for('static', filename='img/stats.jpg') }}" class="img-responsive"></a>
	</div>
	<div class="col-md-9 col-sm-7">
	<h1> <font color="#81BEF7"><i>Real-time statistics about the Arctic</i></font></h1>
	<p> It is no secret that because of global warming, the volume and surface of arctic sea ice are decreasing every year,<br>
	leading to an increase of the sea water level that has critical consequences around the globe.<br>
	On this page we gather real-time key statistics about arctic floe size, temperatures in various arctic areas<br>
	and estimations of the number of wild polar bears around the north pole.<br>
	<br><br>
	</div>
	</div>
	<hr><br>
	
	<div class="row">    
	<br>
	<div class="col-md-2 col-sm-3 text-center">
	<a class="img"><img src="{{ url_for('static', filename='img/floe.jpg') }}" style="width:150px;height:150px" class="img-circle"></a>
	</div>
	<div class="col-md-10 col-sm-9">
	<h1> <font color="#81BEF7">Arctic sea ice data </font></h1>
	<div class="row">
		<div class="col-xs-9">
		<img src="https://nsidc.org/data/seaice_index/images/daily_images/N_iqr_timeseries.png" alt="time series" width="400" border="0">
		<br><br><br>
		<img src="https://nsidc.org/data/seaice_index/images/daily_images/N_daily_concentration_hires.png" alt="concentration map" width="400" border="0">
		<br><br>
		<p class="lead"><a href="http://nsidc.org/arcticseaicenews/2012/05/daily-image/" target="blank" class="btn btn-default">Source NSIDC</a></p>
		</div>
		<div class="col-xs-3"></div>
	</div>
	</div>
	</div>
	<hr>
		<div class="row">    
	<br>
	<div class="col-md-2 col-sm-3 text-center">
	<a class="img"><img src="{{ url_for('static', filename='img/pole.jpg') }}" style="width:150px;height:150px" class="img-circle"></a>
	</div>
	<div class="col-md-10 col-sm-9">
	<h1> <font color="#81BEF7">Temperatures in the arctic </font></h1>
	<div class="row">
		<div class="col-xs-9">
		<h4>Qaanaaq, Greenland: {{ qaanaaq }}&#8451;<br><br>
		Nuuk, Greenland: {{ nuuk }}&#8451;<br><br>
		Iqaluit, Nunavut, Canada: {{ iqaluit }}&#8451;<br><br>
		Yellowknife, Northwest Territories, Canada: {{ yellowknife }}&#8451;<br><br>
		Khatanga, Russia: {{ khatanga }}&#8451;<br><br>
		Longyearbyen, Svalbard: {{ longyearbyen }}&#8451;<br>
		</h4>
		<br>
		<p class="lead"><a href="https://www.weather.com" target="blank" class="btn btn-default">Source Weather.com</a></p>
		</div>
		<div class="col-xs-3"></div>
	</div>
	</div>
	</div>
	<hr>
		<div class="row">    
	<br>
	<div class="col-md-2 col-sm-3 text-center">
	<a class="img"><img src="{{ url_for('static', filename='img/bears.jpg') }}" style="width:150px;height:150px" class="img-circle"></a>
	</div>
	<div class="col-md-10 col-sm-9">
	<h1> <font color="#81BEF7">Total number of wild polar bears (estimations) </font></h1>
	<div class="row">
		<div class="col-xs-9">
		<h4>There are about 26,000 polar bears in the world nowadays.<br>
		<br> 60 to 80% of the polar bears are in Canada.<br>
		</h4>
		<img src="http://wwf.panda.org/_core/general.cfc?method=getOriginalImage&amp;uImgID=%26%2AB%20%26%22N%5F6%0A" " width="600"> </img>
		<br><br>
		<p class="lead"><a href="https://www.iucn.org/" target="blank" class="btn btn-default">Source IUCN</a></p>
		</div>
		<div class="col-xs-3"></div>
	</div>
	</div>
	</div>
	</div>
</div>

	</div><!--/col-12-->
</div>
</div>

{% endblock %}