{% extends 'base.html' %}

{% block content %}
<div id="masthead">  
<div class="container">
<div class="row">
<div class="col-md-10">
	<h1> <font face="blanka" color="#424242">Arctic World Blog</font>
</div>
</div> 
</div>
</div>

<div class="container">
<div class="panel">
	<br>
	<a href="{{ url_for('create') }}" type="button" class="btn btn-primary"> Create Post </a>
	<a href="{{ url_for('blog') }}" type="button" class="btn btn-primary"> Edit Post </a>
	<a href="{{ url_for('blog') }}" type="button" class="btn btn-primary"> Delete Post </a>
	<div id='content'>
	<br><br>
	<div class="panel-body">
	<div class="row">    
	<div class="col-md-2 col-sm-3 text-center">
	</div>
	<div class="col-md-10 col-sm-9">
	<h1> <font color="#08088A">{{ post.title }}</font></h1>
	<h3><i>Posted by {{ post.author }} on {{ post.created.strftime('%B %d, %Y at %H:%M') }}.<br>
	{% if post.updated != post.created %}
	Updated on {{ post.updated.strftime('%B %d, %Y at %H:%M') }}.
	{% endif %}
	</i></h3><br>
	<h4>{{ post.content|safe }}</h4>
	<div class="row">
		<div class="col-xs-9">
		<p><br><br></p>
		</div>
		<div class="col-xs-3"></div>
	</div>
	<h1><font color="#08088A"><i><a href="{{ url_for('blog') }}">&rarr;&nbsp;Back to Blog</a></i></font></h1>
	<br>
	</div>
</div>
</div>

	</div><!--/col-12-->
</div>
</div>

{% endblock content %}